.formContainer {
    min-height: calc(100vh - 4.5rem);
    display: flex;
    align-items: center;
    justify-content: center;    
    margin-top: -2rem;

}



.formInfo {
    width: 40%;
    padding-left: 3rem;
}

.formHeading {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.formText {

}



.form {
    padding: 2rem 0;
    background-color: #DCDCE2;

}

.form_name {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.error_msg {
    color: red;
    margin-bottom: 0.5rem;
    font-weight: bold;
}


.form input {
    display: block;
    padding: 0.5rem 1rem;
    padding-bottom: calc(0.5rem - 3px);
    margin-bottom: 1rem; 
    width: 100%;
    max-width: 30rem;
    border: 1px solid rgba(0,0,0,0.3);
    font-size: 1.4rem;
    border: none;
    border-bottom: 3px solid rgba(0,0,0,0);
}

.form .error {
    border-bottom: 3px solid red;
}


@media (max-width:60rem) {
    .formContainer {
        align-items: center;
        justify-content: space-around;   
        
    }

    .sideImg {
        width: 50%;
    }

    .formInfo {
        padding-left: 0;
        width: 50%;
        padding-bottom: 2rem;
    }
}

@media (max-height: 45rem) {
    .formContainer {
        margin-top: 0rem;
        padding: 3rem 0;
    }
}

@media (max-width: 40rem) {
    .formContainer {
        display: block;
        padding: 0;
        margin-top: -2rem;
    }

    .sideImg {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
    }
    .sideImg img { 
        width: 20rem;
    }

    .formInfo {
        width: 100%;
    }

    .formInfo input { 
        max-width: 100%;
    }

    .formInfo button {
        width: 100%;
    }

    .formInfo button:hover {
        transform: none;
    }
}

@media (max-width: 25rem) {
    .formHeading {
        font-size: 1.6rem;
    }

    .form_name {
        font-size: 2rem;
    }
}


